.isFlexContainer {
  display: flex;
  flex-flow: row wrap;
}

.isLargeFlexElement {
  flex-grow: 3;
}

.isBold {
  font-weight: bold;
}

.isFullWidth {
  width: 100%;
  margin: auto;
}

.isClickable {
  cursor: pointer;
}

.isSmallIcon {
  width: 30px;
  height: 30px;
}

.isSmallText {
  font-size: 0.6rem;
}

.isLargeText {
  font-size: 2rem;
}

.isRightAlignedFlexElement {
  margin-left: auto;
}

.isBlurred {
  filter: blur(3px) brightness(70%);
}

.isHidden {
  display: none;
}

.isFixedToBottom {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
