@import "styles/colors";
@import "styles/nouns";

html,
body {
  background-color: $background-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  box-shadow: none;
}

a {
  color: $link-color;
  text-decoration: none;
}

input[type="text"],
input[type="url"] {
  padding: 0 5px;
  outline: none;
  border: none;
  background-color: $background-color;
  color: $primary-color;
  font-size: 1.5em;
}

select {
  background-color: $background-color;
  color: $primary-color;
  border: none;
  box-shadow: none;
  appearance: none;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

button {
  background-color: $background-color;
  color: $primary-color;
  border-radius: 0;
  border: 0;
  padding: 5px;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  padding: 5px;
  background-color: $primary-color;
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 300px;
}

.container {
  padding: 5px;
  background-color: $primary-color;
  margin: auto;
  width: 90%;
  max-width: 1000px;
}

.dateTimeContainer {
  margin-right: 30px;
}
