<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Startpagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div id="popupContainer" class="isHidden">
        <div id="addShortcutPopup" class="popup">
            <div class="isFlexContainer">
                <h3>Nieuwe snelkoppeling</h3>
                <div class="isRightAlignedFlexElement">
                    <button class="closeAddShortcutPopup isSmallIcon">x</button>
                </div>
            </div>
            <div>
                <input type="text" id="shortcutNaam" placeholder="naam" required />
            </div>
            <div>
                <input type="url" id="shortcutUrl" placeholder="url" required />
            </div>
            <div><select id="shortcutParent"></select></div>
            <div class="isFixedToBottom">
                <button id="submitAddShortcutPopup">Voeg toe</button>
                <button class="closeAddShortcutPopup">Annuleer</button>
            </div>
        </div>
    </div>
    <div id="contentContainer" class="container">
        <div class="isFlexContainer">
            <!-- datum/tijd -->
            <div class="dateTimeContainer">
                <h1 id="time"></h1>
                <h4 id="date"></h4>
            </div>
            <!-- het weer -->
            <div>
                <!-- huidige locatie -->
                <h3 id="location" class="isClickable"></h3>
                <div id="weatherContainer" class="isFlexContainer">
                    <!-- huidige temperatuur -->
                    <div id="currentWeather" class="forecast"></div>
                    <!-- 5 daagse weersvoorspelling -->
                    <div id="forecast1" class="forecast"></div>
                    <div id="forecast2" class="forecast"></div>
                    <div id="forecast3" class="forecast"></div>
                    <div id="forecast4" class="forecast"></div>
                    <div id="forecast5" class="forecast"></div>
                </div>
            </div>
            <div id="settingsContainer" class="isRightAlignedFlexElement">
                <button id="addShortcutButton" class="isSmallIcon isBold">+</button>
            </div>
        </div>
        <!-- zoeken -->
        <div class="isFlexContainer">
            <select id="searchEngineSelect"></select>
            <input id="search" class="isLargeFlexElement" type="text" placeholder="Zoeken" autofocus="autofocus" />
        </div>
        <!-- snelkoppelingen -->
        <div id="shortcutContainer" class="isFlexContainer"></div>
    </div>
    <script id="weatherTemplate" type="x-tmpl-mustache">
      <div class="isBold">{{headerText}}</div>
      <div class="isFlexContainer">
          <div class="isLargeText">
            {{weather.icon}}
          </div>
          <div class="isSmallText">
            <div>🌡 {{weather.maxTemp}}℃</div>
            <div>🌅 {{weather.sunUpTime}}</div>
            <div>🌇 {{weather.sunDownTime}}</div>
          </div>
      </div>
    </script>
    <script id="shortcutContainerTemplate" type="x-tmpl-mustache">
      {{#shortcuts}}
        <ul>
          <li class="isBold">
            {{^url}}{{displayName}}{{/url}}
            {{#url}}<a href="{{url}}">{{displayName}}</a>{{/url}}
            {{#children}}
              {{> shortcut}}
            {{/children}}
          </li>
        </ul>
      {{/shortcuts}}
    </script>
    <script id="shortcutTemplate" type="x-tmpl-mustache">
      <li>
        {{^url}}{{displayName}}{{/url}}
        {{#url}}<a href="{{url}}">{{displayName}}</a>{{/url}}
        <ul>
          {{#children}}
            {{> shortcut}}
          {{/children}}
        </ul>
      </li>
    </script>
    <script id="shortcutSelectOptionsTemplate" type="x-tmpl-mustache">
      <option>Nieuwe lijst</option>
      {{#shortcuts}}
      {{> shortcutSelectOption}}
      {{/shortcuts}}
    </script>
    <script id="shortcutSelectOptionTemplate" type="x-tmpl-mustache">
      <option value="{{url}}">{{displayName}}</option>
      {{#children}}
      {{> shortcutSelectOption}}
      {{/children}}
    </script>
</body>

</html>